@if (config()) {
  <canvas #postCanvas></canvas>

  <div class="wrapper-post">
    <div class="post-content">
        <img
          #postImage
          class="post-image"
          [src]="imagePath() | async"
          (load)="onLoadPostImage()"
        />

      @if (config().hasMarquee && isStartOver()) {
        <div
          #marqueeContainer
          class="marquee marquee__photo"
          [style.height.px]="config().marqueeHeight ?? defaultMarqueeHeight"
          [style.width.px]="marqueeWidth()"
        >
          <div
            #marqueeTextContainer
            class="marquee-text"
            [style.animationDuration.s]="marqueeSpeed"
            [style.fontSize.px]="marqueeFontSize"
          >
            {{marqueeText}}
          </div>
        </div>
      }
    </div>
    <animation-background
      [localBasePath]="localBasePath()"
      [params]="config()"
      [widgetName]="currentPost()?.widget?.name ?? ''"
      [currentPost]="currentPost()"
    />
  </div>
}
